section#home
    .home-backstretch
    .home-thumb.m-lg-4.px-lg-5.py-lg-4.p-4.d-flex.flex-column.justify-content-around
        h2.spaced.text-center.text-gray-lightest.font-weight-bold.wow.fadeInDown(data-wow-delay='0.4s') P. Alex Greaney
        .d-flex.justify-content-between
            img.ucr-img.mr-4(src='../media/UCRiversideWhite_300x58.png')
            a.wow.fadeInUp.btn.btn-default.p-0.section-btn.my-1.d-flex.justify-content-center.align-items-center(href='#contact', data-wow-delay='1s')
                //- span.hidden-sm-down Contact the Greaney Group
                span.d-none.d-md-block Contact the Greaney Group
                span.d-md-none Contact
