doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Dr. Alex Greaney
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', content='Computational Materials Site')
        meta(name='keywords', content='Alex Greaney, Materials Science, Computational Modeling, Henri')
        meta(name='author', content='peng lam')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.css?v0.9')
    body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
        include nav.pug
        include main-page.pug
        // TODO add footer

        //script.
        //    console.log('Check Stuff', '!{JSON.stringify(app.publications[0].EntryType)}', !{JSON.stringify(app.publications)});
    script(src="build.js?v0.9")
