nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.bg-inverse
    button.navbar-toggler.navbar-toggler-left(
            type='button', data-toggle='collapse',
            data-target='#navbarNavAltMarkup',
            aria-controls='navbarNavAltMarkup',
            aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
            //i.fa.fa-ellipsis-v
            //i.fa.fa-chevron-down
    a.navbar-brand(href='#')
        img.d-inline-block.align-top.mr-2.matsci-tet-img.hidden-md-down.pr-2(src="media/matsci-tet_50x60.png", alt="MatSci Tetrahedron")
        .d-inline.align-middle.text-gray-lighter Computational Materials Group
    #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.navbar-right
            li.nav-item
                a.nav-link.smoothScroll(href='#home') Home
            li.nav-item
                a.nav-link.smoothScroll(href='#about') About
            li.nav-item
                a.nav-link.smoothScroll(href='#research') Research
            li.nav-item
                a.nav-link.smoothScroll(href='#group-members') Group
            li.nav-item
                a.nav-link.smoothScroll(href='#publications') Publications
            li.nav-item
                a.nav-link.smoothScroll(href='#teaching') Teaching
            li.nav-item
                a.nav-link.smoothScroll(href='#outreach') Outreach
            //li.nav-item
            //    a.nav-link.smoothScroll(href='#contact') Contact
            // Maybe we put a contact button and pop up contact form
