section#outreach
    .container
        .wow.fadeInUp.section-title(data-wow-delay='0.2s')
            h1 Outreach
        .row
            each item in outreach
                .col-sm-12.col-lg-6.mb-3.px-3.px-lg-5.wow.fadeInUp(data-wow-delay='0.4s')
                    .d-flex.align-items-baseline
                        h4.pr-2= item.title
                        a.btn-link.gray-tooltip(href= item.link, target="_blank")
                            i.fa.fa-link
                    p= item.description