section#research-project
    .project-container
        .row
            .mfp-close
                i.fa.fa-times
            .col-md-12.col-sm-12
                //a.back.mb-4(href="#research")
                //    i.fa.fa-arrow-left
                //    span Back
                .section-title
                    h3 #{title}
        .row
            .col-md-3
                .card
                    ul.list-group.list-group-flush
                        li.list-group-item Lisa Jones PhD
                        li.list-group-item Suzi Queue
                        li.list-group-item paper references
                        li.list-group-item Links to other places
                figure.figure.mt-2
                    img.figure-img.img-fluid.rounded(src=imageUrl, alt=imageTitle)
                    figcaption.figure-caption  #{imageCaption}
            .col-md-8
                .text-columns
                    p Tessst
