section#research-project
    .project-container
        .row
            .section-title
                h2 #{title}
        .row
            .col-md-4
                .researchers-box
                    h4 Researchers
                        //- each id in content.researchers
                        //-     p= id
        //-                 each member in groupMembers
        //-                         //- if member.id == id
        //-                         //-     a(href= id)= member.name       
        //-                             //- each person in researchers
        //-                             //-     p.researcher(data-id="woochul")
        //-             each image in content.images
        //-                 figure.figure.mb-4
        //-                     img.figure-img.img-fluid.rounded(src=image.url, alt=imageTitle)
        //-                     figcaption.figure-caption=  image.caption
        //-     .col-md-7
        //-         .text-columns
        //-             each paragraph, index in content.paragraphs
        //-                 p.paragraph= paragraph
