


.flex-grid {
  display: flex;
}

.flex-row {
  display: flex;
  display: -webkit-flex;
  //flex-wrap: wrap;
  align-items: flex-end;
}

.flex-row-space-between {
  .flex-row();
  justify-content: space-between;
}

.col {
  flex: 1;
}

#group {
  .group-thumb {
    padding: 20px 20px 20px 0;
    margin-bottom: 30px;
  }
  .img-person, .card-img-top {
      height: 210px;
      width: 210px;
      border-radius: 110px;
      border: 5px solid #f4f4f4;
  }
  i.fa {
    padding-right: 10px;
  }
  .text {
    font-weight: normal;
    padding-left: 6px;
  }
  p {
    margin: 2px;
  }


}

.card-image-temp {
  width: 100%;
}

.research-big-card {
  .cart-title {
    font-size: 19px;
  }
  .card-text {
    height: 200px;
  }
}
