section#group-vertical
    .container
        .row
            .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 Group Members
                p Prof. Greaney's office hours:
                p Office:
        //.row.justify-content-around.flex-wrap.align-content-start
        .row
            each person in app.groupMembers
                .col-sm-4
                    .card.mx-3.mb-4.card-outline-white
                        .card-img-block.d-flex.justify-content-center
                            img.card-img-top(src= person.imageUrl, alt='Card image cap')
                        .card-block.text-center
                            h4.card-title= person.name
                            small.text-muted= person.role
                            <br>
                            small.text-muted= person.email
                            .icons
                                i.fa.fa-github.mx-1
                                i.fa.fa-flask.mx-1
                                i.fa.fa-linkedin.mx-1
                        .card-block.pt-0
                            small.text-uppercase.text-muted Research Interests
                            //p.card-subtitle.text-uppercase.text-muted Research Interests
                            p.card-text.text-muted.ri-text.mb-0= person.researchInterests
                            p.card-text.text-sm-right  read more
