section#home
    .container
        .row
            .col-md-8.col-sm-12
                .home-thumb
                    h3.spaced.wow.fadeInUp(data-wow-delay='0.4s') Dr. Alex Greaney
                    h2.wow.fadeInUp(data-wow-delay='0.6s') University of California at Riversidie
                    |
                    a.wow.fadeInUp.btn.btn-default.section-btn(href='#', data-wow-delay='1s') Download Resume PDF
