section#work
    //.container
    //    .row
    //        .col-md-12.col-sm-12
    //            .wow.fadeInUp.section-title(data-wow-delay='0.2s')
    //                h2 Group members
    //                p Lorem ipsum dolor sit amet, consectetur venenatis tincidunt.
    //    .row
    //        each person in app.groupMembers
    //            .wow.fadeInUp.col-md-3.col-sm-6(data-wow-delay='0.4s')
    //                .work-thumb
    //                    a.image-popup(href= person.imageUrl)
    //                        .work-thumb-overlay
    //                            small= person.role
    //                            h4= person.name
    //                            p= person.researchInterests
    //                        |
    //                        img.img-responsive(src= person.imageUrl, alt= person.name)
        <hr>
        <hr>
        <hr>
    .container
        .row
            .col-md-12.col-sm-12
                .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 Group members another way
                p Lorem ipsum dolor sit amet, consectetur venenatis tincidunt.
        .row
            each person in app.groupMembers
                .wow.fadeInUp.col-md-3.col-sm-6(data-wow-delay='0.4s')
                    .work-thumb
                        a.image-popup(href= person.imageUrl)
                            .work-thumb-overlay
                                small= person.name
                                h4= person.role
                                small= person.researchInterests
                            |
                            img.img-responsive(src= person.imageUrl, alt= person.name)

