nav.navbar.navbar-toggleable-md.navbar-light.bg-white
    .container
        button.navbar-toggler.navbar-toggler-right(
                type='button', data-toggle='collapse',
                data-target='#navbarNavAltMarkup',
                aria-controls='navbarNavAltMarkup',
                aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand(href='#') Computational Materials Group
        #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav.navbar-right
                li.nav-item
                    a.nav-link.smoothScroll(href='#home') Home
                li.nav-item
                    a.nav-link.smoothScroll(href='#about') About Us
                li.nav-item
                    a.nav-link.smoothScroll(href='#service') Projects
                li.nav-item
                    a.nav-link.smoothScroll(href='#resume') Teaching
                li.nav-item
                    a.nav-link.smoothScroll(href='#work') Group
                li.nav-item
                    a.nav-link.smoothScroll(href='#work') Publications
                li.nav-item
                    a.nav-link.smoothScroll(href='#work') Outreach
                li.nav-item
                    a.nav-link.smoothScroll(href='#contact') Contact

            //.navbar-nav
            //    a.nav-item.nav-link.active(href='#')
            //        | Home
            //        span.sr-only (current)
            //    a.nav-item.nav-link(href='#') Features
            //    a.nav-item.nav-link(href='#') Pricing
            //    a.nav-item.nav-link.disabled(href='#') Disabled





//.navbar.navbar-default.navbar-fixed-top(role='navigation')
//    .container
//        .navbar-header
//            button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
//                span.icon.icon-bar
//                span.icon.icon-bar
//                span.icon.icon-bar
//            |
//            a.navbar-brand(href='index.html') Computational Materials
//        .collapse.navbar-collapse
//            ul.nav.navbar-nav.navbar-right
//                //li
//                    //a.smoothScroll(href='#home') Home
//                    //put home link avoe
//                li
//                    a.smoothScroll(href='#about') About Us
//                li
//                    a.smoothScroll(href='#service') Projects
//                li
//                    a.smoothScroll(href='#resume') Teaching
//                li
//                    a.smoothScroll(href='#work') Group
//                li
//                    a.smoothScroll(href='#work') Publications
//                li
//                    a.smoothScroll(href='#work') Outreach
//                li
//                    a.smoothScroll(href='#contact') Contact
