nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-white
    .container
        button.navbar-toggler.navbar-toggler-right(
                type='button', data-toggle='collapse',
                data-target='#navbarNavAltMarkup',
                aria-controls='navbarNavAltMarkup',
                aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand(href='#') Computational Materials Group
        #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav.navbar-right
                li.nav-item
                    a.nav-link.smoothScroll(href='#home') Home
                li.nav-item
                    a.nav-link.smoothScroll(href='#about') About Us
                li.nav-item
                    a.nav-link.smoothScroll(href='#work') Research
                li.nav-item
                    a.nav-link.smoothScroll(href='#group') Group
                li.nav-item
                    a.nav-link.smoothScroll(href='#publications') Publications
                li.nav-item
                    a.nav-link.smoothScroll(href='#resume') Teaching
                li.nav-item
                    a.nav-link.smoothScroll(href='#outreach') Outreach
                li.nav-item
                    a.nav-link.smoothScroll(href='#contact') Contact

                //TODO match css ids with sections once prototype phase is over
