section#service.research-big-card
    .container
        .row
            .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 Research Projects
                p Cool stuff we do.  Big image with text
        .row.justify-content-around
            each project, index in app.researchProjects
                //.col-md-6.col-sm-6.wow.fadeInUp(data-wow-delay='0.4s')
                //    h4= project.title
                //    img(src= project.imageUrl, title= project.imageTitle, style="width:400px;border-radius:4px;border:1px solid lightgrey;margin:6px 14px 6px 12px;")
                //    p= project.text[0]
                - var delay = index/2 + 's';
                .col-sm.wow.zoomIn(data-wow-delay= delay, data-wow-duration='1s')
                    //.card.wow.bounceIn(style='width: 30rem;margin-bottom: 50px;', data-wow-delay='0.2s')
                    .card(style='width: 30rem;margin-bottom: 50px;')
                        div
                            img.card-img-top.card-image-temp(src= project.imageUrl, alt='Card image cap')
                        .card-block
                            h4.card-title= project.title
                            p.small-text= project.teaser
                            p.card-text= project.text[0]
                        ul.list-group.list-group-flush
                            li.list-group-item Researchers:  Jane, Sally, Guenevive
                            //li.list-group-item Dapibus ac facilisis in
                            //li.list-group-item Vestibulum at eros
                        .card-block
                            a.card-link(href='#') Read more
                            a.card-link(href='#') Another link


