section#resume
    .container
        .row
            .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 Teaching
                p Prof. Greaney's office hours:
                p Office:
        .row
            .col-md-6.col-sm-6.wow.fadeInUp(data-wow-delay='0.4s')
                .resume-thumb
                    h4 Structure Property of Materials
                    strong
                        i.fa.fa-binoculars
                        | ME 570
                        span /
                        |  Spring 2018
                    p
                        | Fundamentals of the interactions between the structure and properties of materials. Atomic bonding and atom interactions. Geometric and algebraic representations of symmetry. Introduction to phase equilibria. Phenomenological background of elasticity and plasticity in materials. Anisotropic materials and tensor representations. Influence of structure on thermal, electrical, and optical properties of materials. CROSSLISTED as MATS 570.

            .col-md-6.col-sm-6.wow.fadeInUp(data-wow-delay='0.4s')
                .resume-thumb.resume-thumb-sec
                    h4  Some other class
                    strong
                        i.fa.fa-binoculars
                        | ME 101
                        span /
                        |  Fall 2017
                    p
                        | I&rsquo;m a multi-focused designer working on interfaces and branding for digital products. Award winning interdisciplinary Designer &amp; Art director. a team who specialise in coding websites and themes.