/*---------------------------------------
 * Notes
 *
 *	Extra small devices
 *        Portrait phones (<544px)
 *   Small devices
 *        Landscape phones (≥544px - <768px)
 *   Medium devices
 *        Tablets (≥768px - <992px)
 *   Large devices
 *        Desktops (≥992px - <1200px)
 *   Extra large devices
 *        Desktops (≥1200px)
 *  Vertical aligh
 *-----------------------------------------*/

/*---------------------------------------
 * General Browser Resets
 *-----------------------------------------*/

html
    -webkit-font-smoothing: antialiased

body
    //background: #ffffff
    overflow-x: hidden

html, body
    width: 100%
    height: 100%
*
    box-sizing: border-box
    &:before, &:after
        box-sizing: border-box

button
    &:focus
        outline: 0 solid transparent

a
    color: #7392B4
    -webkit-transition: 0.5s
    transition: 0.5s
    text-decoration: none !important
    &:hover, &:active, &:focus
        color: #000000
        outline: none

/*---------------------------------------
 * Typography
 * Bootstrap sets body at 1rem
 *-----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400')
// can't use 200 w/out font loadking optimization

//@font-face
//    font-family: 'Lato'
//    font-style: normal
//    font-weight: 200
//    src: local("Lato Light"), local("Lato Light"), url(https://fonts.googleapis.com/css?family=Lato:200)
//    //http://themes.googleusercontent.com/static/fonts/drsugiyama/v2/rq_8251Ifx6dE1Mq7bUM6brIa-7acMAeDBVuclsi6Gc.woff) format("woff");
//


body
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 300
    line-height: 1.2

.text-caps
    font-weight: bold
    letter-spacing: 1.6px
    padding: 12px 32px 16px 32px

.fw-300
    font-weight: 300
.fw-400
    font-weight: 400

h4
    font-size: 1.25rem
h1, h2
    color: $gray
h3, h4, h5, h6
    color: lighten($gray, 15%)
p
    color: $gray-light


//$line-height-base: 1.5 !default;
//
//$font-size-h1: 2.5rem !default;
//$font-size-h2: 2rem !default;
//$font-size-h3: 1.75rem !default;
//$font-size-h4: 1.5rem !default;
//$font-size-h5: 1.25rem !default;
//$font-size-h6: 1rem !default;
//MOVE TO BOOTSTRAP RELATED FILE

@include media-breakpoint-down(xs)
    h1
        font-size: 2rem
    h2
        font-size: 1.5rem
    h3
        font-size: 1.25rem
    h4
        font-size: 1.1rem
    h5
        font-size: 1rem
    h6
        font-size: .9rem

.spaced
    letter-spacing: 6px
    text-transform: uppercase



/*---------------------------------------
 *    Colors
 *-----------------------------------------*/

// Text colors
// TODO rename based on percent Material Design opacity  https://material.io/guidelines/style/color.html#color-usability
.text-gray-dark
    color: $gray-dark
.text-gray
    color: $gray
.text-gray-light
    color: $gray-light
.text-gray-lighter
    color: $gray-lighter
.text-gray-lightest
    color: $gray-lightest
.text-white

.bg-gray
    background-color: $gray
.bg-gray-light
    background-color: $gray-light
.bg-gray-lighter
    background-color: $gray-lighter
.bg-transparent
    background-color: transparent

// UCR Colors
$ucr-blue:  #2D6CC0
$ucr-gold:  #F1AB00
$ucr-gray:  #7A6E67         //which really looks brown!!!

$usr-brown:   #905A33         // redwoodish
$ucr-orange:  #CD5806
$ucr-mustard: #BB8900
$ucr-green:   #6F8135
$ucr-purple:  #624A7E
$ucr-navy:    #003066

/*---------------------------------------
 *    Utilities
 *-----------------------------------------*/

.hidden
    display: none


/*---------------------------------------
 *   Buttons
 *-----------------------------------------*/

.section-btn
    background: #454545
    border: none
    border-radius: 0
    color: #ffffff
    //font-size: 13px
    font-weight: bold
    letter-spacing: 1.6px
    padding: 12px 32px 16px 32px
    margin-top: 42px
    -webkit-transition: all ease-in-out 0.4s
    transition: all ease-in-out 0.4s
    &:focus, &:hover
        background: #000000
        color: #ffffff

/*---------------------------------------
 *    Fun Treats
 *-----------------------------------------*/
.one-edge-shadow
    box-shadow: 0 8px 6px -6px $gray-light



/*---------------------------------------
 *    Bootstrap overrides & additions
 *-----------------------------------------*/

.bg-inverse
    background-color: $gray-lighter !important

.tooltip > .tooltip-inner
    background-color: $gray
    max-width: 300px
.tooltip > .tooltip-arrow
    border-bottom-color: $gray
.btn-link
    font-size: 12px
    font-weight: bold
    //color: #858585
    color: $ucr-navy
    letter-spacing: 1px
    text-transform: uppercase
    -webkit-transition: all ease-in-out 0.4s
    transition: all ease-in-out 0.4s
.btn-link:hover
    text-decoration: none
    color: $ucr-navy


.popover
    font-family: inherit
    font-weight: 300
    max-width: 100%

.align-baseline-webkit
    vertical-align: -webkit-baseline-middle





