/*---------------------------------------------------------------
 *
 *  Project Name: Homane - Minimal Resume HTML Template
 *  File Name: style.css
 *  Author: Peng Lam
 *  Author URI: http://khaitawng.com
 *  Version: 1.0.0
 *
 *------------------------------------------------------------------*/

/*---------------------------------------------------------------
 * Table of contents
 *
 *        Body
 *    0.  Typography
 *    1.  Buttons
 *    2.  General
 *    3.  Pre loader
 *    4.  Navigation section
 *    5.  Home section
 *    6.  About section
 *    7.  Service section
 *    8.  Resume section
 *    9.  Work section
 *    10. Contact section
 *    11. Footer
 *    12. Social icon
 *    13. Mobile Responsive styles
 *------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700')

body
    background: #ffffff
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: normal
    overflow-x: hidden
    @include media-breakpoint-down(sm)
       font-size: .8rem


html, body
    width: 100%
    height: 100%



/*---------------------------------------
 *    1 Buttons
 *-----------------------------------------*/

.section-btn
  background: #454545
  border: none
  border-radius: 0
  color: #ffffff
  //font-size: 13px
  font-weight: bold
  letter-spacing: 1.6px
  padding: 12px 32px 16px 32px
  margin-top: 42px
  -webkit-transition: all ease-in-out 0.4s
  transition: all ease-in-out 0.4s
  &:focus, &:hover
    background: #000000
    color: #ffffff

/*---------------------------------------
 *    2 General
 *-----------------------------------------*/

html
  -webkit-font-smoothing: antialiased

a
  color: #2668b2                // This is UCR Link color
  -webkit-transition: 0.5s
  transition: 0.5s
  text-decoration: none !important
  &:hover, &:active, &:focus
    color: #000000
    outline: none

*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

.section-title
    margin: 0
    padding-bottom: 32px
    @include media-breakpoint-down(xl)
      //margin-left: 1rem


#about, #service, #resume, #work, #research, #research-frame, #group-members, #publications, #contact, footer
    position: relative
    padding: 80px 0
    @include media-breakpoint-down(md)
        padding: 20px 0

#home, #service, #work, #research, #publications
  background: #f9f9f9
  background: $gray-lightest


/*---------------------------------------
 *   Transitions & Animations
 *-----------------------------------------*/
.grow
    transition: all .2s ease-in-out
    &:hover
        transform: scale(1.1)

/*---------------------------------------
 *    3 Pre loader section
 *-----------------------------------------*/

.spinner-box
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99999
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background: none repeat scroll 0 0 #ffffff

.spinner
  border: 1px solid transparent
  border-radius: 5px
  position: relative
  &:before
    content: ''
    box-sizing: border-box
    position: absolute
    top: 50%
    left: 50%
    width: 65px
    height: 65px
    margin-top: -10px
    margin-left: -10px
    border-radius: 50%
    border: 2px solid #454545
    border-top-color: #ffffff
    animation: spinner .9s linear infinite


@keyframes spinner
  to
    transform: rotate(360deg)


/*---------------------------------------
 *    4 Navigation section
 *-----------------------------------------*/

.navbar
    border: none
    margin-bottom: 0
    //background-color: #ffffff
    //padding: 0
    &.bg-inverse
        background-color: $gray-light !important
    .navbar-toggler
        border: none
        cursor: pointer
        .navbar-toggler-icon
            background-image: url('../media/matsci-tet_50x60.png')
    .navbar-brand
        color: #444
        font-weight: normal
        font-size: 1.25em
        .matsci-tet-img
            height: 38px
        // hamburger is 56px wide so brand must be after that
        @include media-breakpoint-down(md)  //to match nav breakpoint
            text-align: right
            //font-size: 14px




ul.navbar-nav li a
  font-size: 12px
  font-weight: bold
  color: #858585
  letter-spacing: 1px
  text-transform: uppercase
  -webkit-transition: all ease-in-out 0.4s
  transition: all ease-in-out 0.4s
  /*padding: 0 6px;
  //margin: 15px 8px

/*---------------------------------------
 *    5 Home section
 *-----------------------------------------*/

#home
    .home-backstretch
        background-size: cover
        display: flex
        height: 100vh
        position: relative
    .home-thumb
        position: absolute
        bottom: 0
        left: 0
        max-width: 100%
        background-color: $gray
        opacity: .7
    .ucr-img, section-btn
        height: 58px
    .section-btn
        width: 11em
        background-color: $gray-lightest
        color: black
        white-space: normal

    // Tablet
    @include media-breakpoint-only(md)
        .home-backstretch
            height: 80vh
        .home-thumb
            position: relative
            height: 20vh
            padding: 2rem 5rem !important

    // Phone
    @include media-breakpoint-down(sm)
        .ucr-img, .section-btn
            height: 40px
        .section-btn
            width: 8em
            font-size: 16px
            letter-spacing: normal




@media (max-width: 768px)
    .navbar-default .navbar-nav li a
        display: inline-block

@media (max-width: 767px)
    #resume .resume-thumb-sec
        margin-top: 45px

@media (max-width: 580px)
    //h1
    //    font-size: 40px
    //h2
    //    font-size: 30px
    #home
        height: 95vh
    #contact .contact-info
        margin-top: 45px






/*---------------------------------------
 *    6 About section
 *-----------------------------------------*/

#about
  padding-top: 100px
  .about-profile-thumb
    padding-top: 32px
    padding-left: 22px
    span
      font-weight: bold
  .about-thumb
    padding: 32px 12px
    p
      padding: 2px 0

/*---------------------------------------
 *   7 Service section
 *-----------------------------------------*/

#service .fa
  background: #ffffff
  color: #000000
  font-size: 32px
  width: 85px
  height: 85px
  line-height: 85px
  text-align: center
  margin-top: 32px
  margin-bottom: 22px

/*---------------------------------------
 *    8 Resume section
 *-----------------------------------------*/

#resume
  .resume-thumb
    margin-top: 12px
    margin-bottom: 40px
    .fa
      color: #000000
      padding-right: 8px
  strong
    color: #797979
    display: block
    border-bottom: 2px solid #f0f0f0
    padding-bottom: 18px
    margin-bottom: 18px
    span
      display: inline-block
      padding: 2px 6px

/*---------------------------------------
 *    9 Work section
 *-----------------------------------------*/

#work, #research
    $researchTeaserImgSize: 350px

    .project-box
        margin: 22px 0
    .title-box
        border-radius: 0 0 3px 3px
    .work-thumb
        width: $researchTeaserImgSize
        height: $researchTeaserImgSize
        max-width: $researchTeaserImgSize
        max-height: $researchTeaserImgSize
        padding: 0
        overflow: hidden
        position: relative
        border: 2px solid $gray-light
        //background-color: white
        small
          font-size: 16px
        .img-responsive
            max-width: $researchTeaserImgSize
            //height: $researchTeaserImgSize
            //max-width: 100%

    $overlay-offset: 40px
    .work-thumb-overlay
        position: absolute
        background: #ffffff
        cursor: pointer
        opacity: 0
        //width: 100%
        //height: 100%
        padding: 10px
        //margin: 32px
        top: $overlay-offset
        bottom: $overlay-offset
        right: $overlay-offset
        left: $overlay-offset
        -webkit-transition: all ease-in-out 0.4s
        transition: all ease-in-out 0.4s
    .work-thumb:hover .work-thumb-overlay
        opacity: .8

#research-project-page
    position: relative
    padding: 80px 0
    @include media-breakpoint-down(md)
        padding: 20px 0

#research-project
    //display: none


#research-popup, #research-project
    /* TODO sort out height & position for .mfp-container & its contents */

    .white-popup
        position: relative
        overflow-y: scroll
        background: #FFF
        padding: 20px
        height: 80%
        min-height: 100%
        max-height: 700px
        //width: 80%
        //max-width: 80%
        margin: 20px auto
        //.mfp-close
        //    width: 100px
        //    height: 100px
        // Copy styles from .mfp-close b/c putting .fa as child of .mfp-close blocks click
        .fa
            position: absolute
            right: 10px
            top: 8px
            color: $gray-light
    .text-columns
        column-count: 2
        column-gap: 2rem

/* Style for magnificPopup research projects

.mfp-inline-holder .mfp-content
    min-height: 80%
    width: 80%
    // TODO adjust for mobile

/* content at start */
.mfp-fade.mfp-wrap .mfp-content
    opacity: 0
    transition: all 0.15s ease-out

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
    opacity: 1

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
    opacity: 0






/*---------------------------------------
 *    Group Members
 *-----------------------------------------*/

$initImgDiam: 250px
$change: 100px
$finalImgDiam: 350px
$textAreaHeight: 200px
$initWrapperHeight: 400px
$initWrapperWidth: $initImgDiam + 100px

#group-members
    .contentWrap
        position: relative
        display: inline-block
        //width: $initImgDiam
        width: $initWrapperWidth
        height: $initWrapperHeight
        overflow: visible
        z-index: 1

    .contentWrap:hover
        // this moves the hovered item above its neighbors
        z-index: 2

    .content
        //display: inline-block
        overflow: hidden
        height: $initImgDiam + $textAreaHeight
        border-radius: $initImgDiam/2
        margin-bottom: 5px
        //background: white
        //transition: height 0.3s ease 0.5s, width 0.3s ease 0.7s, border-radius 0.3s ease 0.5s
        //transition: border-radius 0.3s ease 0.7s
        .member-img-box
            width: $initImgDiam
            transition: width .5s ease .1s
            .img-fluid
                border-radius: $initImgDiam/2
                min-width: 100%   //remove this later
                min-height: 100%   //remove this later
                width: 100%
                height: 100%
                border: 20px solid #f4f4f4
                // hover off transition
                transition: border-radius 0.5s ease .1s
        .basic-info
            .icons
                max-width: 200px
            i.fa
                padding: 0 7px
        .expanded-info
            display: none
            opacity: 0
            transition: opacity .3s ease .5s

    .content:hover
        position: absolute
        border-radius:  $finalImgDiam/2  $finalImgDiam/2 20px 20px
        height: auto
        background: $gray-lighter
        .member-img-box
            width: $finalImgDiam
            .img-fluid
                border-radius: $finalImgDiam/2
                //hover on transition
                //transistion: border-radius 0.5s ease 0.1s
        .expanded-info
            display: block
            opacity: 1

/*---------------------------------------
 *     Publications section
 *-----------------------------------------*/

#publications
    .blockquote
        padding: 0 .5rem
        //margin: 1rem 8rem .5rem 5rem
        font-size: 1rem
        border-left: 0.1rem solid $ucr-gold
        //&:hover
        //    -webkit-animation: bounce
        //    animation: bounce 1s
    //.animatedhover
    //    animation-play-state: paused
    //    &:hover
    //        animation-play-state: running
    .publication-list
        postion: relative
        .fun-stuff
            position: absolute
            top: 50px
            right: 50px

    .author
        color: $ucr-blue
        font-weight: bold
        font-size: 12px
    //.title
    //.journal


/*---------------------------------------
 *    10 Contact section
 *-----------------------------------------*/

#contact
  .contact-info .fa
    padding-right: 5px
  .form-control
    border: none
    border-bottom: 2px solid #f0f0f0
    border-radius: 0
    box-shadow: none
    font-size: 18px
    margin-top: 10px
    margin-bottom: 10px
    -webkit-transition: all ease-in-out 0.4s
    transition: all ease-in-out 0.4s
    &:focus
      border-bottom-color: #999999
  input
    height: 55px
  button#submit
    background: #454545
    border: none
    border-radius: 0
    color: #ffffff
    font-weight: bold
    height: 55px
    padding-bottom: 10px
    margin-top: 24px
    &:hover
      background: #000000
      color: #ffffff

/*---------------------------------------
 *    11 Footer section
 *-----------------------------------------*/

footer
  background: #f9f9f9
  text-align: center
  p
    padding-bottom: 16px

/*---------------------------------------
 *   12 Social icon
 *-----------------------------------------*/

.social-icon
  position: relative
  padding: 0
  margin: 0
  text-align: center
  li
    display: inline-block
    list-style: none
    a
      background: #ffffff
      border-radius: 100%
      color: #454545
      cursor: pointer
      font-size: 15px
      text-decoration: none
      transition: all 0.4s ease-in-out
      width: 35px
      height: 35px
      line-height: 35px
      text-align: center
      vertical-align: middle
      position: relative
      margin: 0 6px 10px 6px
      &:hover
        background: #000000
        color: #ffffff
        transform: scale(1.1)

/*---------------------------------------
 *    13 Mobile Responsive styles
 *-----------------------------------------*/



