$imgDiam1: 210px;
#group {
  .group-thumb {
    padding: 20px 20px 20px 0;
    margin-bottom: 30px;
  }
  .img-person, .card-img-top {
      height: 210px;
      width: 210px;
      border-radius: 110px;
      border: 5px solid #f4f4f4;
  }
  i.fa {
    padding-right: 10px;
  }
  .text {
    font-weight: normal;
    padding-left: 6px;
  }
  p {
    margin: 2px;
  }
}

.card-image-temp {
  width: 100%;
}

.research-big-card {
  .cart-title {
    font-size: 19px;
  }
  .card-text {
    height: 200px;
  }
}

$imgDiam2: 250px;
#group-vertical {
  background: $gray-lightest;
  .card-img-block {

  }
  .img-person, .card-img-top {
    height: $imgDiam2;
    width: $imgDiam2;
    border-radius: $imgDiam2/2;
    border: 5px solid #f4f4f4;
    //margin-top: -30px;
  }
  .card {
    border: none;
    //background-color: unset;
    //margin-bottom: 60px;
  }
  .card-block {
    //background-color: white;
  }
  .research-interests {
    min-height: 100px;
    .card-text {
      font-size: .9em;
      line-height: 1.4em;
    }
  }
  .ri-text {
    min-height: 100px;
  }
  i.fa {
    padding: 10px;
  }
}

#work {
  .img-responsive {
    //style="min-width:200px;min-height:200px;max-width:200px;max-height:200px;")
      height: 250px;
      width: 250px;
  }
}
